@page "/register"
@inject LangrisserHelper.Client.Services.IHeroService HeroService 
@inject NavigationManager NavigationManager 
@inject LangrisserHelper.Client.Services.IAuthService AuthService
@inject IToastService ToastService
<h3>Register</h3>

<EditForm Model="@user" OnValidSubmit="HandleRegistration">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label for="username">UserName</label>
        <InputText id="username" @bind-Value="user.UserName" class="form-control" />
        <ValidationMessage For="@(()=>user.UserName)" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <InputText id="password" @bind-Value="user.Password" type="password" class="form-control" />
        <ValidationMessage For="@(()=>user.Password)" />
    </div>
    <div class="form-group">
        <label for="confirmedPassword">Confirmed Password</label>
        <InputText id="confirmedPassword" @bind-Value="user.ConfirmedPassword" type="password" class="form-control" />
        <ValidationMessage For="@(()=>user.ConfirmedPassword)" />
    </div>
    <div class="form-group">
        <label for="email">Email(그냥 연습용으로 넣은것이니 안입력해도 됩니다.)</label>
        <InputText id="email" @bind-Value="user.Email" class="form-control" />
        <ValidationMessage For="@(()=>user.Email)" />
    </div>
    @*<div class="form-group">
            <label for="bio">Bio</label>
            <InputTextArea id="bio" @bind-Value="user.Bio" class="form-control" />
        </div>*@
    @*<div class="form-group">
            <label for="bananas">Bananas</label>
            <InputNumber id="bananas" @bind-Value="user.Bananas" class="form-control" />
            <ValidationMessage For="@(()=>user.ConfirmedPassword)" />
        </div>*@
    @*
            <div class="form-group">
                <label for="startUnit">Start Unit</label>
                <InputSelect id="startUnit" @bind-Value="user.StartUnitId" class="form-control" >
                    @foreach (var hero in HeroService.HeroList)
                    {
                        <option value="@hero.HeroId.ToString()">@hero.HeroName</option>
                    }
                </InputSelect>
            </div>
        <div class="form-group">
            <label for="dateOfBirth">Date of Birth</label>
            <InputDate id="dateOfBirth" @bind-Value="user.DateOfBirth" class="form-control" />
        </div>
    *@
    <div class="form-check">
        <InputCheckbox id="confirmed" @bind-Value="user.IsConfirmed" class="form-check-input"></InputCheckbox>
        <label for="confirmed">랑그 최고 미인은 스미레임을 인정합니다.</label>
        <ValidationMessage For="@(()=>user.IsConfirmed)" />
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</EditForm>

@code {
    LangrisserHelper.Shared.UserRegister user = new LangrisserHelper.Shared.UserRegister();

    async void HandleRegistration()
    {
        var result = await AuthService.Register(user);
        if (result.Success)
        {
            ToastService.ShowSuccess(result.Message);
            NavigationManager.NavigateTo("");
        }
        else 
        {
            ToastService.ShowError(result.Message);
        }
    }
}
